In [1]:
import pandas as pd
df_ofensa = pd.read_csv('tweets_ofensivos_finais_com_ofensa.csv')
df_neutro = pd.read_csv('tweets_neutros_finais_com_coisa.csv')

In [2]:
df_ofensa.head()

                                                text
0  rt @mariama59879065 tvi ficava melhor prolonga...
1  = mang trong minh dong mau lac hong phai cu go...
2                                         tomamo cu
3  n entendo oq passa cabeca dessas pessoas namor...
4                 vai tomar cu professor filho puta

In [3]:
df_ofensa.insert(1, 'classe', 1)

In [4]:
df_neutro.head()

                                                text
0  nunca lido ansiedade medo d faze alguma coisa ...
1                                  fiz alguma coisa
2   @seekzisgarb poa mt coisa pra fzr alem show tue
3  pensei mesma coisa akkakakakakkkakakak confirm...
4                 coisa linda https t co/tdhc42gyyc

In [5]:
df_neutro.insert(1, 'classe', 0)

In [6]:
import numpy as np

from sklearn.naive_bayes import MultinomialNB

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [7]:
frames = [df_ofensa, df_neutro]
df_geral = pd.concat(frames)

In [8]:
df_geral.head()

                                                text  classe
0  rt @mariama59879065 tvi ficava melhor prolonga...       1
1  = mang trong minh dong mau lac hong phai cu go...       1
2                                         tomamo cu        1
3  n entendo oq passa cabeca dessas pessoas namor...       1
4                 vai tomar cu professor filho puta        1

In [9]:
df_geral = df_geral.sample(frac=1).reset_index(drop=True)

In [10]:
df_geral.head()

                                                text  classe
0            sanguessuga hoje vai ser criar pra mim        1
1  @mister_wolf_0 @pamjiles vieja loca y mentiros...       1
2  rt @rn_jonathas @euclides_crf todos utilizados...       1
3  comprei monte coisa shoppe pra fazer surpresa ...       0
4  coco desgraca corretor sio https t co/rutjgjynqn        1

In [11]:
x_train, x_test, y_train, y_test = train_test_split(df_geral.text, df_geral.classe, test_size=0.3)

In [12]:
vect = CountVectorizer(ngram_range=(2,2))
X_train = vect.fit_transform(x_train)
X_test = vect.transform(x_test)

In [13]:
mnb = MultinomialNB(alpha =0.2)

mnb.fit(X_train,y_train)

result= mnb.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(result,y_test)

0.8925092374874034

In [15]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, result)

array([[ 948,   88],
       [ 232, 1709]], dtype=int64)

In [17]:
from sklearn.metrics import f1_score
f1_score(result, y_test)

0.9143927233814874

In [16]:
df_geral['classe'].value_counts()

1    6608
0    3314
Name: classe, dtype: int64