In [20]:
import pandas as pd
df_neutro = pd.read_csv('tweets_neutros_finais_com_coisa2.csv')

In [21]:
df_neutro.head()

                                                text
0  fiquei sinal hoje dia todo chego casa surto la...
1  @haddad_fernando @clagraca honestidade ultima ...
2  bolsonaro poderia pior presidente toda histori...
3  q comecar ter consciencia amigos coisa ter rel...
4  assisti ta lista quero ver coisa https t co/h7...

In [10]:
df_neutro = df_neutro.apply(lambda x: x.replace('coisa', ''))

In [22]:
df_neutro.head()

                                                text
0  fiquei sinal hoje dia todo chego casa surto la...
1  @haddad_fernando @clagraca honestidade ultima ...
2  bolsonaro poderia pior presidente toda histori...
3  q comecar ter consciencia amigos coisa ter rel...
4  assisti ta lista quero ver coisa https t co/h7...

In [23]:
df_neutro['text'] = df_neutro['text'].str.replace('coisa', '')

In [24]:
df_neutro.to_csv('tweets_neutros_finais_sem_coisa2.csv', index=False)

In [26]:
df_neutro2 = pd.read_csv('tweets_neutros_finais_sem_coisa.csv')

In [28]:
dfs = pd.concat([df_neutro,df_neutro2])

In [33]:
dfs.count()

text    4195
dtype: int64

In [31]:
dfst = dfs.drop_duplicates()

In [32]:
dfst.count()

text    4179
dtype: int64

In [34]:
dfst.to_csv('tweets_neutros_finais_sem_coisa.csv', index=False)