In [3]:
import pandas as pd
df = pd.read_csv('tweets_anotados.csv', usecols=['user_id'])

In [7]:
df = df.applymap(str)

In [9]:
df.head()

                  user_id
0   1.508181324259119e+18
1  1.3499081745774797e+18
2  1.4374771994734264e+18
3               6042412.0
4  1.2668454160600596e+18

In [10]:
df.count()

user_id    9476
dtype: int64

In [12]:
df.pivot_table(columns=['user_id'], aggfunc='size')

user_id
1.0001142699067105e+18      1
1.0001872048812646e+18      1
1.0002315036312125e+18      1
1.000443168716927e+18       1
1.0008138559483208e+18      1
                         ...
99327805.0                  1
99508153.0                  1
996297625.0                 1
996938803.0                 1
nan                       264
Length: 8726, dtype: int64